ENV=production
SQLALCHEMY_DATABASE_URI=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
#USER_PATH=http://users-service/user
#INCIDENT_PATH=http://incidents-service/incident/
USER_PATH=http://users:3000/user
INCIDENT_PATH=http://incident:3004/incident/
SENGRID_TOKEN=${SENGRID_TOKEN}
